# APStreamling Configuration File

quality: {
    successful_threshold = 5;
    # bitrates
    steady_state: {
        min = 500;
        max = 4000;
        increment = 500;
        decrement = 1000;
    };
    congested_state: {
        min = 100;
        max = 1000;
        increment = 250;
        decrement = 500;
    };
    bitrate: {
        low = 500;
        med = 1000;
        high = 3000;
    };
};


# cameras: {

    # rpi_camera: {
    #     properties: {
    #         launch_string = "v4l2src name=src device=%s ! queue ! capsfilter name=capsfilter caps=%s ! queue ! h264parse ! rtph264pay name=pay0";
    #         capsfilter = "video/x-h264,width=(int)%d,height=(int)%d,framerate=(fraction)%d/1";
    #         fallback = false;
    #         mode = "device";
    #         encoder_name = "";
    #         dynamic_res = true;
    #         dynamic_bitrate = true;
    #     };
    #     resolutions: {
    #         height = [240,480,720];
    #         width = [320,640,1280];
    #         framerate = [15,30,60];
    #         default = [320,240,30];
    #     };
    #     id: {
    #         type = "name";
    #         value = "";
    #     };
    #     encoder_params: {
    #         V4L2_CID_VFLIP = true;
    #         V4L2_CID_HFLIP = true;
    #         V4L2_CID_MPEG_VIDEO_H264_I_PERIOD = 10;
    #     };
    # };
    # uvc_camera: {
    #     properties: {
    #         launch_string = "v4l2src name=src device=%s ! queue ! capsfilter name=capsfilter caps=%s ! queue ! h264parse ! rtph264pay name=pay0";
    #         capsfilter = "video/x-h264,width=(int)%d,height=(int)%d,framerate=(fraction)%d/1";
    #         fallback = false;
    #         mode = "device";
    #         encoder_name = "";
    #         dynamic_res = true;
    #         dynamic_bitrate = true;
    #     };
    #     id: {
    #         type = "name";
    #         value = "";
    #     };
    # };
    # jetson_camera: {
    #     properties: {
    #         launch_string = "v4l2src name=src device=%s ! queue ! capsfilter name=capsfilter caps=%s ! queue ! h264parse ! rtph264pay name=pay0";
    #         capsfilter = "video/x-h264,width=(int)%d,height=(int)%d,framerate=(fraction)%d/1";
    #         fallback = false;
    #         mode = "device";
    #         encoder_name = "";
    #         dynamic_res = true;
    #         dynamic_bitrate = true;
    #     };
    #     id: {
    #         type = "name";
    #         value = "";
    #     };
    # };
# };


constants: {
    AUTO_PRESET = 1024;
    IPC_BUFFER_SIZE = 10000;
}

paths: {
    SOCKET_PATH = "/tmp/rtsp_server.sock";
    V4L2_DEVICE_PATH = "/dev/";
    V4L2_DEVICE_PREFIX = "video";
    MOUNT_POINT_PREFIX = "/cam";
    JETSON_CAM_DRIVER = "tegra-video";
};